.buy-card {
    background-color: #ffffff; 
    box-sizing: border-box;
    /* padding: 40rem 120rem; */
    margin-bottom: 40rem;
}

.buy-card__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36rem;
}

.buy-card__view-more,
.buy-card__call-now {
    font-family: 'MontserratLight';
    font-size: 13rem;
    padding: 14rem 80rem;
    border: 1rem solid #ffffff;
    border-radius: 13rem;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.buy-card__call-now {
    padding: 14rem 53rem;
}

.buy-card__container {
    box-sizing: border-box;
    padding: 11rem 87rem 21rem 65rem;
    display: flex;
    flex-direction: column;
    width: 1199rem;
    /* height: 593rem; */
    background-color: #000000;
    border-radius: 65rem;
    /* box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1); Легкая тень для выделения */
}

.buy-card__container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buy-card__container-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 51rem;
    gap: 58rem;
}

.buy-card__info {
    margin-top: 73rem;
    font-size: 32rem;
    width: 418rem;
}

.buy-card__euro {
    height: 27rem;
    width: 14rem;
    vertical-align: middle;
}

.buy-card__info h3 {
    font-family: 'Wadik';
    font-size: 36rem;
    color: #ffffff;
}

.buy-card__price {
    font-family: 'Wadik';
    font-size: 24rem;
    color: #AAAAAA; /* Темно-серый для цены */
    margin-bottom: 63rem;
    display: flex;
    align-items: center;
}

.buy-card__details {
    display: flex;
    align-items: flex-start;
}

.buy-card__detail-item {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.buy-card__detail-item {
    font-family: 'Wadik', sans-serif;
    color: #ffffff;
}

.buy-card__detail-item span {
    font-size: 36rem;
}

.buy-card__detail-item span a {
    font-family: 'Wadik', sans-serif;
    font-size: 16rem;
    color: #ffffff;
}

.buy-card__detail-item p {
    font-family: 'MontserratLight';
    font-size: 16rem;
    color: #848484;
}

.buy-card__detail-item--top {
    margin-bottom: 40rem;
}

#buy-card__first-top {
    margin-right: 3rem;
    width: 170rem;
}

#buy-card__first-bottom {
    margin-right: 32.5rem;
}

.buy-card__detail-item--middle {
    margin-right: 57rem;
}

.buy-card__detail-item--other {
    margin-left: 20rem;
}

.buy-card__line {
    height: 58rem;
}

.buy-card__location {
    margin-top: 58rem;
    font-family: 'Montserrat';
    font-size: 14rem;
    color: #AEAEAE;
}

.buy-card__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 588rem;
    height: 411rem;
    border-radius: 54rem;
    margin-top: 55rem;
}

.buy-card__image img {
    width: 100%;
    border-radius: 54rem;
}