.buy-filter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 80rem 122rem;
}

.filter-title {
    font-family: 'Wadik';
    font-size: 32rem;
    margin-bottom: 46rem;
}

.buy-filter-content-right {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.buy-filter-content {
    display: flex;
    gap: 20rem;
}

.russia-filter {
    cursor: pointer;
    width: 710rem;
    height: 665rem;
}

.buy-filter-content-right img {
    cursor: pointer;
    width: 466rem;
}